UpStatusFromPi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UpStatusFromPi" targetNamespace="http://w.semir.cn" xmlns:p1="http://w.semir.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
       
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://w.semir.cn">
        	<xsd:element name="UpStatusDo" type="p1:UpStatusDoRequest">
        	</xsd:element>
        	<xsd:element name="UpStatusDoResponse" type="p1:UpStatusDoReturn"></xsd:element>
        
        
        
        	<xsd:complexType name="UpStatusDoRequest">
        		<xsd:sequence>
        			<xsd:element name="AGENT_CODE" type="xsd:string"></xsd:element>
        			<xsd:element name="LOAN_NUM" type="xsd:string"></xsd:element>
        			<xsd:element name="LOAN_TYPE" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="LOAN_STATUS" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="LOAN_REASON" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="LOAN_DATE_FROM" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="LOAN_DATE_TO" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="LOAN_CYCLE" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="LOAN_AMOUNT" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="YL1" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="YL2" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="YL3" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="YL4" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="YL5" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        		</xsd:sequence>

        	</xsd:complexType>

        	<xsd:complexType name="UpStatusDoReturn">
        		<xsd:sequence>
        			<xsd:element name="MESS_FLAG" type="xsd:string"></xsd:element>
        			<xsd:element name="MESSAGE" type="xsd:string"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="UpStatusFromPi">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusFromPiDoResponse">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusFromPiDo">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusDo">
    	<wsdl:part name="UpStatusDo" element="p1:UpStatusDo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusDoResponse">
    	<wsdl:part name="UpStatusDoResponse"
    		element="p1:UpStatusDoResponse">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UpStatusFromPi">
        <wsdl:operation name="UpStatusDo">
            <wsdl:input message="p1:UpStatusDo" name="UpStatusDo"/>
            <wsdl:output message="p1:UpStatusDoResponse" name="UpStatusDoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpStatusFromPiBinding" type="p1:UpStatusFromPi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="UpStatusDo">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input name="UpStatusDo">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output name="UpStatusDoResponse">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpStatusFromPiService">
        <wsdl:port name="UpStatusFromPiPort" binding="p1:UpStatusFromPiBinding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <soap:address location="http://w.semir.cn/loanpi.php/Service/upstatusdo.html" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>