WSDL/Up400FromOA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Up400FromOa" targetNamespace="http://w.semir.cn" xmlns:p1="http://w.semir.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
       
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://w.semir.cn">
        	<xsd:element name="Up400Do" type="p1:Up400DoRequest">
        	</xsd:element>
        	<xsd:element name="Up400DoResponse" type="p1:Up400DoReturn"></xsd:element>
        
        
        
        	<xsd:complexType name="Up400DoRequest">
        		<xsd:sequence>
        			<xsd:element name="fd_ServiceResult" type="xsd:string"></xsd:element>
        			<xsd:element name="fd_PhotoResult" type="xsd:string"></xsd:element>
        			<xsd:element name="oa_express" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="oa_express_number" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="com_code" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="oa_number" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        		</xsd:sequence>

        	</xsd:complexType>

        	<xsd:complexType name="Up400DoReturn">
        		<xsd:sequence>
        			<xsd:element name="MESS_FLAG" type="xsd:string"></xsd:element>
        			<xsd:element name="MESSAGE" type="xsd:string"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="UpStatusFromPi">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusFromPiDoResponse">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusFromPiDo">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusDo">
    	<wsdl:part name="Up400Do" element="p1:Up400Do"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Up400DoResponse">
    	<wsdl:part name="Up400DoResponse"
    		element="p1:Up400DoResponse">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Up400FromOA">
        <wsdl:operation name="Up400Do">
            <wsdl:input message="p1:UpStatusDo" name="UpStatusDo"/>
            <wsdl:output message="p1:Up400DoResponse" name="UpStatusDoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Up400FromOaBinding" type="p1:Up400FromOA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="Up400Do">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input name="UpStatusDo">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output name="UpStatusDoResponse">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Up400FromOaService">
        <wsdl:port name="Up400FromOaPort" binding="p1:Up400FromOaBinding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <soap:address location="http://w.semir.cn/semir400admin.php/Apifromoa/Up400Do.html" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>